# Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT MIN(SALARY) FROM (
SELECT DISTINCT(SALARY) FROM EMPLOYEE ORDER BY SALARY DESC)
WHERE ROWNUM<=5;

# Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
SELECT salary, count(Salary) FROM EMPLOYEE GROUP BY SALARY HAVING COUNT(SALARY)>1;

In [ ]:
SELECT NAME, SALARY FROM EMPLOYEE
WHERE SALARY IN(
    SELECT SALARY FROM EMPLOYEE
    GROUP BY SALARY
    HAVING COUNT(SALARY)>1
);