# Q-17. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
SELECT * FROM TABLE_NAME LIMIT 10;

# Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
SELECT DISTINCT(SALARY) FROM TABLENAME ORDER BY SALARY DESC LIMIT n-1,1;
Ex: SELECT DISTINCT(SALARY) FROM TABLENAME ORDER BY SALARY DESC LIMIT 4,1;