# Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [ ]:
SELECT SUBSTRING(FIRST_NAME,1,3) FROM WORKER;

# Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [ ]:
SELECT POSITION('a' in (SELECT FIRST_NAME FROM WORKER WHERE FIRST_NAME="Amitabh")) as pos;

# Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [ ]:
SELECT NAME FROM WORKER WHERE SALARY IN
(SELECT MAX(SALARY) FROM WORKER GROUP BY DEPARTMENT);