# Q-15. Write SQL query to fetch intersecting records of two tables.

In [ ]:
SELECT * FROM TABLE1 INNER JOIN TABLE2 ON table1.col1 = table2.col2;

# Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
SELECT * FROM TABLE1
LEFT JOIN TABLE2
ON TABLE1.COL1 = TABLE2.COL2
WHERE TABLE2.COL2 IS NULL;